*{
    color: skyblue;
    background-color: black;
}
#navBar{
    display: flex;
    justify-content: space-around;
}
hr{
    margin:0px;
}
.btn-outline-success{
    color: greenyellow;
}
.logo{
    display: flex;
    justify-content: center;
    padding: 3vw;
}
.the{
    font-size: 1.75vw;
    transform: rotate(270deg);
    font-weight: 400;
}
.siren{
    font-size: 3vw;
    margin-left:5px;
}
.contentPage{
    display: grid;
    grid-template-columns: auto auto auto;
}
.card{
    height: 30vw;
    width: 24vw;
    margin: 3vw;
    overflow: hidden;
}
.card:hover{
    box-shadow:  0px 0px 18px 6px rgb(206, 206, 91);
    transform: scale(1.2);
}
a{
    text-decoration: none;
}
p{
    margin-top: 0vw;
}
@media(max-width:720px){
    .contentPage{
        display: grid;
        grid-template-columns: auto auto;
    }
    .card{
        height: 57vw;
        width: 42vw;
        margin: 3vw;
        overflow: hidden;
    }
}
@media(max-width:480px){
    .contentPage{
        display: block;
    }
    .card{
        height: 90vw;
        width: 90vw;
        margin: 4.5vw;
        overflow: hidden;
    }
}